<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <i class="fas fa-link text-center mb-4" style="font-size: 100px;"></i>
      <form action="/" method="POST">
        <div class="form-group">
          <label for="url">請輸入網址</label>
          <input type="text" class="form-control" id="url" name="url" placeholder="input URL here">
          <button type="submit" class="btn btn-outline-primary btn-block mt-3">Shorten</button>
        </div>
      </form>
    </div>
  </div>
</div>