<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <a href="/" class="text-center mb-4 text-dark">
        <i class="fas fa-link " style="font-size: 100px;"></i>
      </a>
      <form action="/" method="POST">
        <div class="form-group">
          <label for="link">請輸入網址</label>
          <input type="url" class="form-control" id="link" name="link" value="{{site.link}}"
            placeholder="input URL here">
          <button type="submit" class="btn btn-outline-primary btn-block mt-3">Shorten</button>
        </div>
      </form>

      {{#if errMsg}}
      <div class="row mt-5">
        <div class="col">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{errMsg}}</strong>
          </div>
        </div>
      </div>
      {{/if}}

      {{#if site}}
      <div class="row mt-5">
        <div class="col-md-3">
          <p class="lead">縮網址是:</p>
        </div>
        <div class="col-md-6">
          <!-- Target -->
          <input id="shortUrl" class="form-control text-danger" value="localhost:3000/{{site.url}}">
        </div>
        <!-- Trigger -->
        <div class="col-md-3">
          <button class="btn text-success" id="copy" data-clipboard-target="#shortUrl">
            <i class="fas fa-copy"></i> COPY
          </button>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</div>